.m-t-30 {
  margin-top: 30px;
}
.m-l-5 {
  margin-left: 10px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.d-p-none {
  display: none;
}
.m-r-10 {
  margin-right: 10px;
}
table td {
  max-width: 120px;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
}
