# ignore config folder www
# /www/config
# ignore config folder api
# /api/config
/api/auth/node_modules
/api/member/node_modules
/api/deposit/node_modules
/api/staff/node_modules
/api/withdraw/node_modules
/api/master-data/node_modules
/api/schedule/node_modules
# ignore vscode folder www
/www/.vscode
# ignore vscode folder api
/www/.vscode
# ignore every log files
*.log